body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(120deg, #8e44ad, #2980b9);
    color: #ecf0f1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo{
    width: 100px;
    height: 130px;
    margin: 0 auto;
    display: block;
    margin-left: 35%;
}

.container {
    background-color: rgba(44, 62, 80, 0.9);
    padding: 30px 50px;
    border-radius: 20px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 400px;
    max-width: 100%;
}

h1, h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #f39c12;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

p {
    font-size: 1.5em;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    font-size: 1.2em;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

button {
    background: linear-gradient(to right, #e74c3c, #e67e22);
    border: none;
    padding: 15px 20px;
    font-size: 1.2em;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px 0;
    transition: background 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

button:hover {
    background: linear-gradient(to right, #e67e22, #e74c3c);
    transform: translateY(-3px);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
}

button:active {
    background: linear-gradient(to right, #e74c3c, #e67e22);
    transform: translateY(0);
}

.game-option {
    background-color: #34495e;
    padding: 20px;
    margin: 10px 0;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.game-option:hover {
    background-color: #1abc9c;
    transform: scale(1.05);
}

.hidden {
    display: none;
}
