body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: dimgray;
    color: #333;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
    background-color: gray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease;
}

h1 {
    margin-bottom: 0.5em;
}

h2 {
    color: #35424a;
}

#product-details {
    margin-left:205px;
    margin-top: 2em;
    animation: slideIn 1s ease;
    color: black;
}

#product-image {
    max-width: 100%;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    height: 600px;
    width: 400px;
}

#product-description {
    margin-top: 1em;
    color: black;
}

#cart {
    border: 1px solid black;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    background-color: black;
}

#checkout-button {
    padding: 10px 20px;
    background-color: grey;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#checkout-button:hover {
    background-color: #0056b3;
}

#cart-items {
    list-style-type: none;
    padding: 0;
    width: 300px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #35424a;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

.button:hover {
    background-color: #29373f;
    transform: scale(1.05);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}